.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(/img/header_bg.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 23%;
        translate: (-50%, -50%);
        text-align: center;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
       

    }

    
    &__logo {
        font-family: $logo-font;
        color: $color-light;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}