.employee-box {

    &__employee-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../img/ceo.jpg);
        background-size: cover;
        margin: 0 auto;
        box-shadow: $box-shadow;

        &--1 {


            background-image: url(../img/em1.jpg);

        }

        &--2 {


            background-image: url(../img/em2.jpg);

        }

        &--3 {


            background-image: url(../img/em3.jpg);

        }

        &--4 {


            background-image: url(../img/em4.jpg);

        }

        &--5 {

            background-image: url(../img/em5.jpg);
           

        }

        &--6 {


            background-image: url(../img/em6.jpg);

        }

        &--7 {

            background-image: url(../img/em7.jpg);

            
        }

        &--8 {


            background-image: url(../img/em8.jpg);

        }

        &--9 {


            background-image: url(../img/em9.jpg)
        }

        &--10 {


            background-image: url(../img/em10.jpg)

        }

        &--11 {


            background-image: url(../img/em11.jpg)

        }

        &--12 {


            background-image: url(../img/em12.jpg)

        }
        
    }

    
}

.employee__title {
    color: $color-white;
    font-family: $body-fonts;
    font-size: 2.4rem;
}